* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-box,
.register-box {
  max-width: 400px;
  border-radius: 5px;
  background-color: #ecf0f1;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-style: none;
}

.enrollcourse-box {
  max-width: 400px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-style: none;
}

.courses-table {
  max-width: 400px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-style: none;
}
.navbar-top {
  background-color: #f1c40f !important;
}

.navbar-top a {
  color: white !important;
}

.enrollments-row {
  margin-top: 3rem !important;
}

.view-my-courses {
  background: #4a00e0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.view-my-courses-table {
  background-color: #f0ad4e;
}
.add-course {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.delete-course {
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.view-courses-table {
  background: #f0ad4e;
}

.enroll-course {
  /* background-color: #00b894 !important; */
  /* background-image: linear-gradient(-60deg, rgb(37, 153, 147) 0%, #3498db 100%); */
  /* background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%); */
  background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
}

.delete-user {
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}

.view-my-courses,
.enroll-course,
.add-course,
.view-courses-table,
.view-my-courses-table,
.delete-course,
.delete-user,
.view-users-table {
  color: white !important;
  border-radius: 0.9375rem !important;
  cursor: pointer;
  border-style: none;
}

.view-users-table {
  background-color: #4a00e0 !important;
}

.view-my-courses-body,
.enroll-course-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-edit-course:hover {
  color: #3498db;
}

.admin-delete-user:hover {
  color: #e74c3c;
}

@media only screen and (max-height: 7000px) {
  .container-fluid {
    padding-bottom: 3.125rem !important;
  }
}

.back-icon {
  width: 3.125rem !important;
  height: 3.125rem !important;
  cursor: pointer !important;
  margin: 1rem;
  color: #f1c40f !important;
}

.scroll-to-top-icon {
  width: 3.125rem !important;
  height: 3.125rem !important;
  cursor: pointer !important;
  position: fixed !important;
  bottom: 0 !important;
  right: 1rem !important;
  margin: 1rem;
  color: #f1c40f !important;
  z-index: 9999 !important;
  background-color: white;
  border-radius: 50%;
}
